.loading {
  text-align: center;
  color: red;
}

.error-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  text-align: center;
  color: red;
  font-size: larger;
}

.toast {
  position: absolute;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.2);
  width: 30vw;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly;
  align-items: center; */
  /* flex-wrap: wrap; */
  height: 100vh;
  background-color: #f5f5f5;
}

.container > h1 {
  text-align: center;
  margin: 1.5rem 0;
}

.container > form {
  display: flex;
  justify-content: center;
}

.todo-list {
  flex-grow: 1;
  overflow: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.todo-item > p {
  flex-grow: 1;
  padding: 0 10px;
}

.todo-item > p.isCompleted {
  text-decoration: line-through;
}

.filter-section {
  display: flex;
}

.filter-section > button {
  flex-grow: 1;
}

.filter-section > button.active {
  border-color: red;
}
